<!DOCTYPE HTML>

<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>2019 in pixels</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>

	<body>

		<main>
			<div class="pixels" id="pixels">
				{% for id, item in emptyYear %}
					<div class="pixel {{ item.class }}">
							<span class="id">{{ id }}</span>
							<span class="date">{{ item.date }}</span>
							<span class="rating">{{ item.rating }}</span>
							<span class="note">{{ item.note }}</span>
					</div>
				{% endfor %}
			</div>
		</main>

	</body>

</html>