body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.pixels {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.pixels .pixel {
  width: 15px;
  height: 15px;
  background-color: #333;
  border: 1px solid #fff;
  border-top: none;
  border-left: none;

}

.pixels .pixel.very-bad {
  background-color: #391D1D;
}
.pixels .pixel.bad {
  background-color: #640A0A;
}
.pixels .pixel.good {
  background-color: #D92626;
  
}
.pixels .pixel.very-good {
  background-color: #F59191;
  
}
.pixels .pixel.amazing {
  background-color: #F5DDDD;
}

.pixels .pixel span.id,
.pixels .pixel span.date,
.pixels .pixel span.rating, 
.pixels .pixel span.note 
{
  display: none;
}